{# Футер сайта (design-system.md, раздел 6). На всех страницах, кроме auth. #}
<footer class="site-footer">
  <div class="site-footer-grid">
    <div>
      <a href="/" class="header-logo">
        <span class="nav-logo-symbol">⚡</span>
        <span>EnergyDess</span>
      </a>
    </div>
    <div>
      <h4>Продукт</h4>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/profile">Профиль</a></li>
      </ul>
    </div>
    <div>
      <h4>Инструменты</h4>
      <ul>
        <li><a href="/hh">HH-ассистент</a></li>
        <li><a href="/nutrition">Дневник питания</a></li>
        <li><a href="/workout">Тренировки</a></li>
        <li><a href="/enshrouded">Enshrouded</a></li>
      </ul>
    </div>
    <div>
      <h4>Ресурсы</h4>
      <ul>
        {# TODO: страницы документации/чейнджлога ещё не существуют #}
        <li><a href="/">О проекте</a></li>
      </ul>
    </div>
    <div>
      <h4>Связаться</h4>
      <ul>
        {# TODO: подставить реальные контакты (Telegram / email) #}
        <li><a href="mailto:hello@energydess.ru">Email</a></li>
      </ul>
    </div>
  </div>
  <div class="site-footer-bottom">
    <span>© 2026 EnergyDess</span>
    <span>Made with intent in Balashikha, MO</span>
  </div>
</footer>
